@model Nevia.Models.ViewModelHome

@{
    ViewBag.Title = "Home Page";
}
<!-- Content
================================================== -->
<div id="content">
    <!-- LayerSlider  -->
    <section id="layerslider-container">
        <div id="layerslider" style="width: 1020px; height: 450px; margin: 0 auto;">
            <!-- Slide 1 -->
            <article class="ls-layer" style="slidedelay: 10000;">
                <img src="~/Public/images/slide-01.jpg" class="ls-bg" alt="">
                <img class="ls-s4" src="~/Public/images/slide-01a.png" style="top: 30px; left: 120px; slidedirection: bottom; slideoutdirection: bottom; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;" alt="" />
                <h3 class="ls-s1 caption-color" style="top: 357px; left: 756px; slidedirection: right; slideoutdirection: right; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">Powerful HTML5 Template</h3>
            </article>
            <!-- Slide 2 -->
            <article class="ls-layer" style="slidedelay: 10000; slidedirection: top;">
                <img src="~/Public/images/slide-02.png" class="ls-bg">
                <img class="ls-s4" src="~/Public/images/slide-02a.png" style="top: 50%; left: 260px; slidedirection: left; slideoutdirection: left; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt="" />
                <img class="ls-s4" src="~/Public/images/slide-02b.png" style="top: 50%; left: 544px; slidedirection: right; slideoutdirection: right; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt="" />
                <img class="ls-s4" src="~/Public/images/slide-02c.png" style="top: 230px; left: 494px; slidedirection: top; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt="" />
                <img class="ls-s2" src="~/Public/images/slide-02d.png" style="top: 15px; left: -142px; slidedirection: left; slideoutdirection: left; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt="" />
                <img class="ls-s2" src="~/Public/images/slide-02e.png" style="top: 15px; left: 784px; slidedirection: right; slideoutdirection: right; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt="" />
            </article>
            <!-- Slide 3 -->
            <article class="ls-layer" style="slidedelay: 7000;">
                <img src="~/Public/images/slide-03.jpg" class="ls-bg" alt="">
                <h3 class="ls-s1 caption-transparent" style="top: 357px; left: 40px;">Image in Slide Directly</h3>
            </article>
        </div>
    </section>
    <!-- LayerSlider / End -->
    <!-- 960 Container -->
    <div class="container">
        <!-- Icon Boxes -->
        <section class="icon-box-container">

            @foreach (var service in Model.Services.Take(3))
            {
                <!-- Icon Box Start -->
                <div class="one-third column">
                    <article class="icon-box">
                        <i class="icon-@service.Image"></i>
                        <h3>@service.Title</h3>
                        <p>@service.Description</p>
                    </article>
                </div>
                <!-- Icon Box End -->
            }

          
        </section>
        <!-- Icon Boxes / End -->
    </div>
    <!-- 960 Container / End -->
    <!-- 960 Container -->
    <div class="container floated">
        <div class="blank floated">
            <!-- Recent Work Entire -->
            <div class="four columns carousel-intro">
                <section class="entire">
                    <h3>Recent Work</h3>
                    <p>Adding portfolio entries with this shortcode is now easier then ever.</p>
                </section>
                <div class="carousel-navi">
                    <div id="work-prev" class="arl jcarousel-prev"><i class="icon-chevron-left"></i></div>
                    <div id="work-next" class="arr jcarousel-next"><i class="icon-chevron-right"></i></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- jCarousel -->
            <section class="jcarousel recent-work-jc">
                <ul>

                    @foreach (var slide in Model.Slider)
                    {
                        <!-- Recent Work Item -->
                        <li class="four columns">
                            <a href="@Url.Action("Details", "Portfolio", new { id = slide.PortfolioID})" class="portfolio-item">
                                <figure>
                                    <img src="~/Public/images/portfolio/@slide.Photo" alt="@slide.Title" />
                                    <figcaption class="item-description">
                                        <h5>@slide.Title</h5>
                                        <span>@slide.Text</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    }
                 
                 
                </ul>
            </section>
            <!-- jCarousel / End -->
        </div>
    </div>
    <!-- 960 Container / End -->
    <!-- 960 Container -->
    <div class="container">
        <!-- Recent News -->
        <div class="eight columns">
            <h3 class="margin-1">Recent News <span>/ Stuff From Our Blog</span></h3>

            @foreach (var blog in Model.Blogs.OrderByDescending(b => b.BlogTime).Take(2))
            {
                <div class="four columns alpha">
                    <article class="recent-blog">
                        <section class="date">
                            <span class="day">@blog.BlogTime.Value.ToString("dd")</span>
                            <span class="month">@blog.BlogTime.Value.ToString("MMM")</span>
                        </section>
                        <h4><a href="@Url.Action("Details", "Blog", new { id = blog.Id })">@blog.Title</a></h4>
                        @Html.Raw(blog.Description)
                    </article>
                </div>
            }

         
        </div>
        <!-- Testimonials -->
        <div class="eight columns">
            <h3 class="margin-1">Testimonials <span>/ What Our Clients Say</span></h3>
            <!-- Testimonial Rotator -->
            <section class="flexslider testimonial-slider">
                <ul class="slides">
                    <li class="testimonial">
                        <div class="testimonials">Integer eu libero sit amet nisl vestibulum semper. Fusce costant Proin sit amet mauris odio pellentesque iaculis posuer dapibus natoque penatibus et magnis dis parturient montes.</div>
                        <div class="testimonials-bg"></div>
                        <div class="testimonials-author">Michael, <span>Flash Developer</span></div>
                    </li>
                    <li class="testimonial">
                        <div class="testimonials">Posuere erat a ante venenatis dapibus posuere velit aliquet. Proin sit amet mauris odio pellentesque iaculis. Cum sociis natoque penatibus et lorem magnis dis parturient montes, nascetur ridiculus mus. Duisean lorem llis noenan coeammodo luctus.</div>
                        <div class="testimonials-bg"></div>
                        <div class="testimonials-author">John, <span>Web Developer</span></div>
                    </li>
                    <li class="testimonial">
                        <div class="testimonials">Cras sed odio est, sit amet porttitor elit. Vestibulum Proin sit amet mauris et odio pellentesque iaculis. Cum sociis natoque proin sit amet mauris odio pellentesque iaculis.</div>
                        <div class="testimonials-bg"></div>
                        <div class="testimonials-author">Peter, <span>Project Manager</span></div>
                    </li>
                    <li class="testimonial">
                        <div class="testimonials">Elementum erat vitae ante venenatis dapibus. Maecenas cursus  cursus Proin sit amet mauris et odio pellentesque iaculis.</div>
                        <div class="testimonials-bg"></div>
                        <div class="testimonials-author">Kathy, <span>Art Director</span></div>
                    </li>
                </ul>
            </section>
            <!-- Testomonial Rotator / End -->
        </div>
    </div>
    <!-- 960 Container / End -->
</div>
<!-- Content / End -->